Checks: '-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  performance-*,
  -performance-avoid-endl,
  readability-*,
  -readability-identifier-length,
  -readability-implicit-bool-conversion,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-avoid-nested-conditional-operator,
  -readability-math-missing-parentheses,
  -readability-use-std-min-max,
  -readability-use-anyofallof'
