
# These files are built from source
/build

# You don't really think I'll leave sensitive info in the repo, do you?
/.vscode/secrets.*

# Non-essential files
node_modules/
debug.log
.VSCodeCounter/

# Istanbul
.nyc_output/
coverage/

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# My own notes
NOTE.md

# Exported test project
/export*.bps

# Python
__pycache__/
/.pytest_cache/
/.mypy_cache/
