[FORMAT]
max-line-length=130
indent-string='	'

[MESSAGES CONTROL]
disable=
	missing-module-docstring,
	missing-function-docstring,
	missing-class-docstring,
	too-few-public-methods

[TYPECHECK]
generated-members=sys.last_value
