.welcome {
	background: white;
}

#divShade {
	pointer-events: none;
	right: 0px;
	background: black;
	opacity: 0;
	transition: opacity 500ms;
}

#divPanel {
	position: fixed;
	right: 0px;
	top: 3.75rem;
	width: 250px;
	bottom: 0px;
	z-index: 10;
	background: var(--bg-ui);
	cursor: default;
	padding: 10px;
	transition: right 500ms;
	overflow-y: auto;
}

#divPanel, #divPanel * {
	touch-action: pan-y;
}

#divToolbar {
	background: var(--bg-ui);
	height: 3.75rem;
	overflow: visible;
	flex-wrap: nowrap
}

#note {
	position: absolute;
	bottom: 20px;
}

@media print {
	#app {
		display: none;
	}
}

@media screen {
	#divWorkspace, #divShade, .welcome {
		position: absolute;
		top: 3.75rem;
		left: 0px;
		bottom: 0px;
	}
}

@media screen and (max-width: 650px) {
	#divWorkspace, #divShade, #divPanel, .shift-down {
		top: 6.15rem;
	}
}

@media (min-width: 100.01vh) and (min-width: 996px) {
	#divWorkspace, .welcome {
		right: 250px;
	}
	#panelToggle {
		display: none;
	}
	#note {
		right: 270px;
	}
}

@media (max-width: 100vh), (max-width: 995px) {
	#divWorkspace, .welcome, #divPanel.show {
		right: 0px;
	}
	#divPanel {
		right: -250px;
	}
	#divShade.show {
		pointer-events: all;
		opacity: 0.2;
	}
	#panelToggle {
		display: block;
	}
	#note {
		right: 20px;
	}
}

@media (display-mode: standalone) {
	.browser-only {
		display: none;
	}
}
