.notify {
	display: inline-block;
	height: 0.25em;
	width: 0.25em;
	border-radius: 0.125em;
	background-color: red;
}

.dropdown-item>.notify {
	position: relative;
	top: -0.5em;
}

button>.notify {
	position: absolute;
	top: 0.3rem;
	right: 0.3rem;
}
