:root {
	--bg-ui: #AAA;
}

* {
	touch-action: none;
}

html {
	font-size: 9pt;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

.modal-open .modal {
	overflow: hidden;
}

.panel-title {
	line-height: 1.5;
	white-space: nowrap;
}

/*********************************************
 * grid
 *********************************************/

.panel-grid {
	display: grid;
	grid-template-columns: minmax(4rem, max-content) 1fr;
	grid-gap: 0.5rem 1rem;
}

.col-form-label {
	white-space: nowrap;
}

/*********************************************
 * 禁止長按選取
 *********************************************/

*:not(input):not(textarea):not(.requirement) {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*********************************************
 * 表單元件設定
 *********************************************/

::-webkit-inner-spin-button, ::-webkit-outer-spin-button {
	/* Chrome, Safari, Edge, Opera 中隱藏 spinner */
	-webkit-appearance: none;
	display: none;
}

input[type=number] {
	/* Firefox 中隱藏 spinner */
	-moz-appearance: textfield;
}

input:invalid {
	outline: 2px solid red;
}

textarea {
	resize: none;
}

::placeholder, ::-webkit-input-placeholder, ::-moz-placeholder, ::-ms-input-placeholder {
	opacity: 0.5 !important;
}
