html.dark {
	$bg: #1e1e1e;
	$line: #666;
	$modal: #444;

	--bg-ui: #333;

	--bs-body-color: #ccc;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0));

	--tab-border: #222;
	--tab-active: $bg;

	table {
		border-color: #444;
		color: #ccc;
	}

	th {
		background-color: #777;
		color: #fff;
	}

	input.key {
		color: #ccc;
	}

	.welcome .link-primary:hover {
		color: #fff;
		background-color: var(--bs-primary);
	}

	.scroll-shadow {
		// background-image: linear-gradient($modal 30%, rgba(255, 255, 255, 0)),
		// 	linear-gradient(rgba(255, 255, 255, 0), $modal 70%),
		// 	radial-gradient(50% 0, farthest-side, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)),
		// 	radial-gradient(50% 100%, farthest-side, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));

		// background-image: linear-gradient($modal 30%, rgba(255, 255, 255, 0)),
		// 	linear-gradient(rgba(255, 255, 255, 0), $modal 70%),
		// 	radial-gradient(farthest-side at 50% 0, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0)),
		// 	radial-gradient(farthest-side at 50% 100%, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));

		background-color: $modal;
	}

	.form-check-input:not(:checked) {
		background-color: #999;
	}

	.form-control,
	.form-select {
		background: #555;
		color: #eee;
		border: #222;
	}

	.form-control::placeholder {
		color: #999;
	}

	a,
	.link-primary {
		color: #4d95ff;
	}

	.modal-header,
	.nav-tabs {
		border-bottom-color: $line;
	}

	.modal-footer {
		border-top-color: $line;
	}

	.modal-content {
		background-color: $modal;
	}

	.nav-link:hover {
		border-color: #555 #555 $line;
	}

	.nav-link.active {
		color: #fff;
		background: $line;
		border-color: $line;
	}

	body,
	.welcome {
		background: $bg;
	}

	#divPanel {
		color: var(--bs-body-color);
	}

	.dropdown-menu {
		background: #333;
		border-color: #444;
	}

	.dropdown-item {
		color: #ccc;

		&.disabled {
			color: #777;
		}
	}

	.dropdown-divider {
		border-top-color: #555;
	}

	.tab.active {
		color: #fff;
	}

	.btn-light {
		background-color: #555;
		border-color: #555;
		color: var(--bs-body-color);

		&:hover {
			background-color: #666;
		}
	}

	@media (hover: hover) {
		.tab:not(:hover):not(.active) {
			color: #777;
		}
	}

	#divShade.show {
		opacity: 0.4;
	}
}
