#divWorkspace,
#divWorkspace div {
	overflow: hidden;
}

#divWorkspace canvas {
	position: sticky;

	/* iPhone 6 */
	top: 0;
	left: 0;
}

@media print {
	#divWorkspace div {
		width: unset !important;
		height: unset !important;
	}

	#divWorkspace canvas {
		display: none;
	}

	#divWorkspace img {
		width: 100vw;
		height: 100vh;
	}
}

#divWorkspace img {
	object-fit: contain;
}

@media screen {
	#divWorkspace.scroll-x {
		overflow-x: scroll;
	}

	#divWorkspace.scroll-y {
		overflow-y: scroll;
	}

	#divWorkspace div {
		position: absolute;
		top: 0;
		left: 0;
	}

	#divWorkspace img {
		opacity: 0;
		max-width: 4096px;
	}
}
