.modal-backdrop + .modal-backdrop {
	z-index: 1061 !important;
}

.modal-second {
	z-index: 1062 !important;
}

#divSpinner {
	visibility: hidden;

	/* The combination of this CSS makes Spinner to appear gradually, but vanishes instantly */
	> div {
		opacity: 0;
		transition: opacity 0.5s cubic-bezier(1, 0, 0, 0);
	}

	&.show {
		visibility: visible;

		> div {
			opacity: 1;
		}
	}
}

.spinner-container {
	flex-grow: 1;
	font-size: 10rem;
	/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
	font-size: min(15vh, 15vw);
	color: gray;
}
