$statusbar-height: 25px;

.viewport {
	background: var(--bs-body-bg);
}

#divShade {
	pointer-events: none;
	right: 0;
	background: black;
	opacity: 0;
	transition: opacity 500ms;
}

aside {
	position: fixed;
	right: 0;
	top: 3.75rem;
	width: 250px;
	bottom: 0;
	color: #000; /* AAA consideration */
	cursor: default;
	transition: right 500ms;
	display: flex;
	flex-direction: column;
	background: var(--bg-ui) !important;
}

footer {
	display: none;
	position: absolute;
	width: 100vw;
	height: $statusbar-height;
	bottom: 0;
	left: 0;
	background: var(--bg-ui);
}

#note {
	position: absolute;
	bottom: 20px;
}

.show-status {
	#divWorkspace,
	#divShade,
	aside,
	.viewport {
		bottom: $statusbar-height;
	}

	#divDPad {
		bottom: calc($statusbar-height + 1rem);
	}

	footer {
		display: block;
	}

	#note {
		bottom: $statusbar-height + 20px;
	}
}

@media print {
	#app {
		display: none;
	}
}

@media screen {
	#divWorkspace,
	#divShade,
	.viewport {
		position: absolute;
		top: 0; /* IE 8 fallback */
		top: 3.75rem;
		left: 0;
		bottom: 0;
	}
}

@media screen and (max-width: 650px) {
	#divWorkspace,
	#divShade,
	aside,
	.shift-down {
		top: 6.15rem;
	}
}

@media (min-width: 100.01vh) and (min-width: 700px) {
	#divWorkspace,
	.viewport {
		right: 250px;
	}

	#panelToggle {
		display: none;
	}

	#note {
		right: 270px;
	}
}

@media (max-width: 100vh), (max-width: 699.9px) {
	#divWorkspace,
	.viewport,
	aside.show {
		right: 0;
	}

	aside {
		right: -250px;

		&.show {
			box-shadow: 0 0 5px #000a;
		}
	}

	#divShade.show {
		pointer-events: all;
		opacity: 0.2;
	}

	#panelToggle {
		display: block;
	}

	#note {
		right: 20px;
	}
}

@media (display-mode: standalone) {
	.browser-only {
		display: none;
	}
}
