
.panel-title {
	line-height: 1.5;
	white-space: nowrap;
}

.panel-grid {
	display: grid;
	grid-gap: 0.5rem 1rem;

	/* DoIUse data seems wrong here, see https://caniuse.com/mdn-css_properties_grid-template-columns_minmax */
	/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
	grid-template-columns: minmax(4rem, max-content) 1fr;
}

.col-form-label {
	white-space: nowrap;
}
