:root {
	--bg-ui: #aaa;
	--tab-border: gray;
	--tab-active: #999;
}

* {
	/* We handle incompatibility in app.vue */
	/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
	touch-action: none;
}

html {
	font-size: 9pt;
}

html,
body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: fixed;
}

kbd {
	border-radius: 0.3rem;
	color: black;
	border: 1px solid #aaa;
	background-color: #ddd;
	padding: 0.1rem 0.2rem;
	margin: 0.1rem;
	line-height: 1;
	display: inline-block;
}

ul {
	margin-left: 0;
}

/*********************************************
 * Mac
 *********************************************/

body:not(.mac) .mac-only {
	display: none;
}

body.mac .not-mac {
	display: none;
}

/*********************************************
 * Disable long-press selecting
 *********************************************/

*:not(input, textarea, .requirement) {
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

/*********************************************
 * Setup form components
 *********************************************/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	/* hide spinner in Chrome, Safari, Edge, Opera */
	-webkit-appearance: none;
	display: none;
}

input {
	/* stylelint-disable-next-line plugin/no-unsupported-browser-features */
	touch-action: manipulation;

	&[type="number"] {
		/* hide spinner in Firefox */
		-moz-appearance: textfield;
	}

	&:invalid {
		outline: 2px solid red;
	}
}

textarea {
	resize: none;
}

::placeholder,
::-webkit-input-placeholder,
::-moz-placeholder,
::-ms-input-placeholder {
	opacity: 0.5 !important;
}
